[user]
	email = go.github@darker.red
	name = Denis Brodbeck
[core]
	autocrlf = input
[push]
	default = nothing # be explicit!
[color]
	ui = auto
[alias]
	st = status
	lol = log --graph --decorate --pretty=oneline --abbrev-commit
	lola = log --graph --decorate --pretty=oneline --abbrev-commit --all
	pu = push -u origin # git puma master --> git push -u origin master
